body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #171611;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-transition,
.footer-transition {
    width: 100%;
    display: block;
}

.content-flex-fill {
    flex: 1;
}