body {
    background-color: #171611;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.header-transition {
    width: 100%;
    display: block;
  }