.header {
  background-color: #344E41;
  padding: 20px;
  position: relative;
}

.logo {
  height: 50px;
}

.desktop-menu nav {
  display: flex;
  gap: 1rem;
}

.menu-item {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
}

.menu-item:hover {
  font-weight: bold;
}

.hamburger {
  display: none;
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.hamburger img {
  width: 100%;
  transition: transform 0.3s ease;
}

.hamburger img.rotated {
  transform: rotate(90deg);
}

.flyout-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #02311A;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 100;
}

.flyout-menu .hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
}

.flyout-menu .menu-item {
  color: #E97908;
}

.menu-open {
  right: 0;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
